---
layout: default
title: workday global hackathon 2016

---
 
<div class="container">

    <div class="row">
        <div class="span7">       
            <h3>The Workday Global Hackathon 2016</h3>
        </div>
    </div>
    
    <div class="navbar navbar-inverse navbar-fixed-top" style="padding-top: 10px;">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#About">About</a></li>
                        <li><a href="#TimeDirections">Time & Locations</a></li>
                        <li><a href="#Prizes">Prizes</a></li>
                        <li><a href="#Register">Register</a></li>
                        <li><a href="#Judging">Judging</a></li>
                        <li><a href="#Sponsors">Sponsors</a></li>
                        <li><a href="#Contact">Contact</a></li>
                        <li><a href="https://docs.google.com/document/d/1pPh9DI0JwYHZjSz5_cqcyxE5PMXMBX9FXNNDjkL0gZc/edit">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
    <div class="row">
        <div class="span8">       
          <div class="fma">
          </div>
        </div>                     
    </div>  
 {% include about.html %}
 {% include timeAndLocation.html %}
 {% include prizes.html %}
 {% include registration.html %}
 {% include judging.html %}
 {% include sponsors.html %}
 {% include contact.html %}
 
    <!--
        
    
    <div class="row">
        <div class="span8">       
            <br />
        </div>                     
    </div>   
    
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#Legal">Legal</a></li>
                        <li><a href="#TermsofUse">Terms of Use</a></li>
                        <li><a href="#Privacy">Privacy</a></li>
                        <li><a href="#IntellectualPrivacy">Intellectual Property</a></li>
                        <li><a href="#CodeofConduct">Code of Conduct</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>   
                    -->
                                                
    <footer>
            
        <div class="row">  
            <div class="span10" style="padding: 25px;">  
                <div style="text-align:left;">   
                    <p>This hackathon page is published by <a href="http://pages.github.com" target="_blank"><img src="https://s3.amazonaws.com/kinlane-productions/api-evangelist/github/Github-Pages.png" width="100" /></a> and was forked from the <a href="https://github.com/kinlane/hack-weekends-guide">hackathon weekend guide</a> provided by <a href="http://kinlane.com" target="_blank">Kin Lane</a> and is licensed under <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons</a> to keep alignment with contributors and a healthier global hackathon community.</p>
                    </p>                          
                </div>                
            </div>                                        
        </div>              

    </footer>
</div>        
