---
layout: default
title: workday global hackathon 2016

---
 
<div class="container">

    <div class="row">
        <div class="span7">       
            <h3>The Workday Global Hackathon 2016</h3>
        </div>
    </div>
    
    <div class="navbar navbar-inverse navbar-fixed-top" style="padding-top: 10px;">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#About">About</a></li>
                        <li><a href="#TimeDirections">Time & Locations</a></li>
                        <li><a href="#Prizes">Prizes</a></li>
                        <li><a href="#Register">Register</a></li>
                        <li><a href="#Judges">Judges</a></li>
                        <li><a href="#Sponsors">Sponsors</a></li>
                        <li><a href="https://docs.google.com/document/d/1pPh9DI0JwYHZjSz5_cqcyxE5PMXMBX9FXNNDjkL0gZc/edit">FAQ</a></li>
                        <li><a href="#Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
    <div class="row">
        <div class="span8">       
          <div class="fma">
          </div>
        </div>                     
    </div>  
 {% include about.html %}
 {% include timeAndLocation.html %}
 {% include prizes.html %}
 {% include registration.html %}
 {% include judging.html %}
 {% include sponsors.html %}
 {% include contact.html %}
 
    <!--
    
    <div class="row">
        <div class="span8">       
            <br />
        </div>                     
    </div>          
     <a name="Register"></a>
    <div class="row">  
        <div class="span10" style="background-color:#ECECEC; padding: 25px; height: 200px;">
            <div class="fma2">  
                <br />
                <p>What Are You Waiting For</p>
                <p>Follow this link to help you get started on Eventbrite</p>
                <p align="center"><img src="images/Register-With-Eventbrite.png" style="" /></p>  
            </div>            
        </div>                            
    </div>  
    
    
    <div class="row">
        <div class="span8">       
            <br />
        </div>                     
    </div>   
    
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#Legal">Legal</a></li>
                        <li><a href="#TermsofUse">Terms of Use</a></li>
                        <li><a href="#Privacy">Privacy</a></li>
                        <li><a href="#IntellectualPrivacy">Intellectual Property</a></li>
                        <li><a href="#CodeofConduct">Code of Conduct</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>   
                                                                    
    <footer>
            
        <div class="row">  
            <div class="span3" style="padding: 25px;">  
                <div style="text-align:center;">   
                    <p>Hack Weekends Guide is Maintained by <a href="http://kinlane.com" target="_blank">Kin Lane</a></p>  
                    <p><a href="http://apievangelist.com" target="_blank"><img src="http://kinlane-productions.s3.amazonaws.com/api-evangelist/api-evangelist-logo-400.png" width="200" /></a></p>            
                </div>                
            </div>   
            <div class="span3" style="padding: 25px;">  
                <div style="text-align:center;">   
                    <p>Hack Weekends Guide is Supported by <a href="http://hackweekends.com" target="_blank">Hack Weekends</a></p>              
                    <p><a href="http://hackweekends.com" target="_blank"><img src="https://s3.amazonaws.com/kinlane-productions/hackweekends/hack-weekends-logo-2.png" width="100" /></a></p>            
                </div>                
            </div>  
            <div class="span3" style="padding: 25px;">  
                <div style="text-align:center;">   
                    <p>Hack Weekends Guide is Published by <a href="http://pages.github.com/" target="_blank">Github Pages</p>
                    <p><a href="http://pages.github.com" target="_blank"><img src="https://s3.amazonaws.com/kinlane-productions/api-evangelist/github/Github-Pages.png" width="100" /></a></p>                          
                </div>                
            </div>                                        
        </div>              

    </footer>
-->
</div>        
