     <a name="About"></a>
    <div class="row"> 
        <div class="span4" style="padding-left: 50px; padding-top: 40px;">       
            <h4>Details</h4>
            <p>It's been about a year since we held our last global hackathon and we're excited to be hosting our second one.  Details are provided in the attached FAQ.  Get your creative juices flowing, it's going to be a fun ride!</p>
        </div>   
        <div class="span4" style="padding-left: 175px;">       
             <a href="https://ghe.megaleo.com/pages/PAR/hackathon-2016/" target="_blank"><img src="images/hackathon-2016.png" style="" /></a>
        </div>                                
    </div>  
    
