     <a name="About"></a>
    <div class="row"> 
        <div class="span4" style="padding-left: 50px; padding-top: 40px;">       
            <h4>Details</h4>
            <p>Welcome to our global hackathon homepage!</p>
            <p>This hackathon is an opportunity for you to get your creative juices flowing, perhaps think outside the box, and work on something that you don't do on a regular basis.</p>
            <p>Actually, the only <strong>REAL RULE</strong> is for you to work on something that you <strong>DON'T</strong> normally work on!</p>   
            <p>We're looking forward to the event, and hope that you are too!</p>
        </div>   
        <div class="span4" style="padding-left: 130px; padding-top: 40px;">       
             <a href="https://atagh.github.io/hackathon-2016/" target="_blank"><img src="images/hackathon-2016.png"/></a>
        </div>                                
    </div>  
    
