     <a name="About"></a>
    <div class="row"> 
        <div class="span4" style="padding-left: 50px; padding-top: 40px;">       
            <h4>Details</h4>
            <p>Welcome to our global hackathon homepage!  This hackathon is an opportunity for you to get your creative juices flowing, and hopefully work on something that you don't do on a regular basis.   We're excited, and hope that you are too.  It's going to be a fun!</p>
        </div>   
        <div class="span4" style="padding-left: 130px; padding-top: 40px;">       
             <a href="https://ghe.megaleo.com/pages/PAR/hackathon-2016/" target="_blank"><img src="images/hackathon-2016.png" style="" /></a>
        </div>                                
    </div>  
    
