    <div class="row">
        <div class="span8">       
            <br />
        </div>                     
    </div>           
    <a name="Contact"></a>
    <div class="row">  
        <div class="span10" style="background-color:#ECECEC; padding: 25px;">  
            <div style=" padding-right: 35px; font-size: 22px; font-weight: bold;">   
           <div align="center" width="200px;">
                <h4 >Contact</h4>
                <br/>
                <p>
                <a href="https://workday-dev.slack.com/messages/hackathon-2016" target="_blank">#hackathon-2016</a><br />
                </p>
<!--            </div>                
            <div style="padding-left: 60px; padding-right: 35px; font-size: 22px; font-weight: bold; padding-top: 25px;"> -->
                <p><a href="mailto:hackathon@workday.com" target="_blank">hackathon@workday.com</a></p>
            </div>              
            </div>
        </div>                            
    </div>    
