    <div class="row">
        <div class="span8">       
            <br />
        </div>                     
    </div>           
    <a name="Contact"></a>
    <div class="row">  
        <div class="span10" style="padding: 25px;">  
           <div align="center" width="200px;">
                <h4 >Contact</h4> 
                <br/>
                <p>
                    <a href="https://workday-dev.slack.com/messages/hackathon-2016" target="_blank"><img src="images/slack.png"/></a>
                    <a href="mailto:hackathon@workday.com" target="_blank"><img src="images/mail.png"/></a>
                </p>
            </div>              
        </div>                            
    </div>    

