    <div class="row">
        <div class="span8">       
            <br />
        </div>                     
    </div>           
    
     <div class="row">  
        <div class="span3">
            
        </div>  
        <div class="span10" style="padding-left: 30px;" align="center">
            <h4>Judging Criteria</h4>
            <p>The final projects will be judged based on the criteria below and weighted accordingly.</p>
            <ul style="font-size: 18px; font-weight: bold; list-style:none;">
                <li>20% - Technical Difficulty</li>
                <li>40% - Crowd Vote</li>
                <li>20% - Wow Factor</li>
                <li>20% - Innovation</li>
            </ul>             
        </div>                            
    </div>  
    
    <div class="row">
        <div class="span8">       
            <br />
        </div>                     
    </div>              
    <a name="Judges"></a> 
    <div class="row">  
        <div class="span10" style="background-color:#ECECEC; padding: 25px;">
            <div class="fma2">  
                <h4>Meet the Judges</h4>
                <br />  
                <img src="images/lynn.png" alt="lynn christensen" width="150" height="150"/>
                <img src="images/dc.jpg" alt="david clarke" width="150" height="150"/>
                <img src="images/joek.png" alt="joe korngiebel" width="150" height="150"/>
                <img src="images/ll.jpg" alt="leighanne levensaler" width="150" height="150"/>
                <img src="images/jon.jpg" alt="jon ruggiero" width="150" height="150" />
                <br /><br />
            </div>            
        </div>                            
    </div>         

