    <div class="row">
        <div class="span8">       
            <br />
        </div>                     
    </div>           
    <a name="Judging"></a> 
    

     <div class="row">  
        <div class="span10" style="padding-left: 50px;">
            <h4>Judging Criteria</h4>
            <p>There will be two rounds of judging.  A first round of judging will be used to filter the set of projects down to the final 10 to 12.  The final round will be used to select the winners!</p>
            <br />
        </div>
    </div>  

     <div class="row">  
        <div class="span4" style="padding-left: 50px;">
            <h5>First Round</h5>
            <p>Details about the initial round are being worked out and will be communicated here soon.</p>
            <ul style="font-size: 18px; font-weight: bold; list-style:none;">
                <li>xx% - xxx</li>
                <li>xx% - xxx</li>
                <li>xx% - xxx</li>
            </ul>             
            <br />
        </div>
        <div class="span4" style="padding-left: 50px;">
            <h5>Final Round</h5>
            <p>Final projects will be judged based on the criteria below and weighted accordingly.</p>
            <ul style="font-size: 18px; font-weight: bold; list-style:none;">
                <li>40% - Crowd Favorite</li>
                <li>30% - Wow Factor</li>
                <li>30% - Innovation</li>
            </ul>             
             plus 5% - Bonus credit for the most geographically distributed team(s).
            <br />
        </div>                            
    </div>  
    
    <div class="row">
        <div class="span8">       
            <br />
        </div>                     
    </div>              
    <div class="row">  
        <div class="span10" style="background-color:#ECECEC; padding: 25px;">
            <div class="fma2">  
                <h4>Meet the Judges</h4>
                <br />  
                <a name="lynn" href="https://wd5.myworkday.com/workday/d/inst/15$125135/247$1710.htmld"><img src="images/lynn.png" title="lynn christensen" alt="lynn christensen" width="150" height="150"/></a>
                <a name="dc" href="https://wd5.myworkday.com/workday/d/inst/15$125135/247$214.htmld"><img src="images/dc.jpg" title="David Clarke" alt="david clarke" width="150" height="150"/></a>
                <a name="joek" href="https://wd5.myworkday.com/workday/d/inst/15$125135/247$37.htmld"><img src="images/joek.png" title="Joe Korngiebel" alt="joe korngiebel" width="150" height="150"/></a>
                <a name="ll" href="https://wd5.myworkday.com/workday/d/inst/15$125135/247$417.htmld"><img src="images/ll.jpg" title="Leighanne Levensaler" alt="leighanne levensaler" width="150" height="150"/></a>
                <a name="jon" href="https://wd5.myworkday.com/workday/d/inst/15$125135/247$27.htmld"><img src="images/jon.jpg" title="Jon Ruggiero" alt="jon ruggiero" width="150" height="150"/></a>
                <br /><br />
            </div>            
        </div>                            
    </div>    

