    
    <div class="row">
        <div class="span8">       
        </div>                     
    </div>           
    <a name="Prizes"></a>
    <div class="row"> 
        <div class="span4" style="padding-left: 50px; padding-top:25px;">       
            <img src="images/amazon.jpg" style="" />
        </div>   
        <div class="span4" style="padding-left: 100px; padding-top:25px;">       
            <h4>Prizes:</h4>
            <p><strong>Main Prizes</strong></p>
            <ul>
            <li>1st Prize - $100 Amazon Gift Card</li>
            <li>2nd Prize - $75 Amazon Gift Card</li>
            <li>3rd Prize - $50 Amazon Gift Card</li>
            </ul>
            and...  all winners will win a lunch outing with the judges!
            <br />
            <br />
            <p>All Participants, Volunteers, Organizers and Judges will receive what will surely be highly coveted a hackathon 2016 t-shirt.</p>           
        </div>                                
    </div>   

