    
    <div class="row">
        <div class="span8">       
        </div>                     
    </div>           
    <a name="Prizes"></a>
    <div class="row"> 
        <div class="span4" style="padding-left: 50px; padding-top:25px;">       
            <img src="images/Prize.png" style="" />
        </div>   
        <div class="span4" style="padding-left: 100px; padding-top:25px;">       
            <h4>Prizes:</h4>
            <p><strong>Main Prizes</strong></p>
            <p>1st Prize - $500.00<br />
            2nd Prize - $250.00<br />
            3rd Prize - $100.00<br />
            Sponsor Prizes</p>
            <br />
            <p>Best Use of Sponsor 1 - $100.00 Amazon Gift Card<br />
            Best Use of Sponsor 2 - $100.00 Apple Gift Card<br />
            Best Use of Sponsor 3 - $200.00 Amazon Kindle<br />
            Bonus Prizes</p>
            <br />
            <p>Best Outfit - $500.00 Amazon Gift Card</p>           
        </div>                                
    </div>   

