    
    <div class="row">
        <div class="span8">       
        </div>                     
    </div>           
    <a name="Prizes"></a>
    <div class="row"> 
        <div class="span4" style="padding-left: 50px; padding-top:25px;">       
            <img src="images/amazon.jpg" style="" />
        </div>   
        <div class="span4" style="padding-left: 100px; padding-top:25px;">       
            <h4>Prizes:</h4>
            <p><strong>Main Prizes</strong></p>
            <ul>
            <li>1st Prize - $100 Amazon Gift Card</li>
            <li>2nd Prize - $75 Amazon Gift Card</li>
            <li>3rd Prize - $50 Amazon Gift Card</li>
            </ul>
            and...  the winners will be treated to lunch outing with management!
            <br />
            <br />
            All Participants, Volunteers, Organizers and Judges will receive what will surely be a highly coveted hackathon 2016 t-shirt.
            <br />
            <br />   
            If you'd like to participate in the t-shirt design competition, please submit your entry <a href="https://confluence.workday.com/pages/viewpage.action?pageId=611526428">here</a>.      
        </div>                                
    </div>   

