    <div class="row">
        <div class="span8">       
            <br />
        </div>                     
    </div>          
    <a name="Sponsors"></a> 
    <div class="row">  
        <div class="span10" style="padding: 25px;">
           <div align="center" width="200px;">
                <h4>Thanks to our Sponsors!</h4>  
                <br/>
                <a href="https://wd5.myworkday.com/workday/d/inst/15$125135/247$214.htmld"><img src="images/dc.jpg" align="center" width="150" /></a>
                <a href="https://wd5.myworkday.com/workday/d/inst/15$125135/247$446.htmld"><img src="images/mikef.jpg" align="center" width="150" /></a>
                <a href="https://wd5.myworkday.com/workday/d/inst/15$125135/247$554.htmld"><img src="images/jeremy.jpg" align="center" width="150" /></a>
                <a href="https://wd5.myworkday.com/workday/d/inst/15$125135/247$213.htmld"><img src="images/annrai.jpg" align="center" width="150" /></a>
                <a href="https://wd5.myworkday.com/workday/d/inst/15$125135/247$27.htmld"><img src="images/jon.jpg" align="center" width="150" /></a>
            </div>                       
        </div>                            
    </div>   
