    <div class="row">
        <div class="span8">       
            <br />
        </div>                     
    </div>          
    <a name="Sponsors"></a> 
    <div class="row">  
        <div class="span10" style="padding: 25px;">
           <div align="center" width="200px;">
                <h4>Thanks to our Sponsors!</h4>  
                <br/>
                <a href="http://www.workday.com"><img src="images/lynn.png" align="center" width="150" /></a>
                <a href="http://www.workday.com"><img src="images/dc.jpg" align="center" width="150" /></a>
                <a href="http://www.workday.com"><img src="images/mikef.jpg" align="center" width="150" /></a>
                <a href="http://www.workday.com"><img src="images/joek.png" align="center" width="150" /></a>
                <a href="http://www.workday.com"><img src="images/ll.jpg" align="center" width="150" /></a>
                <a href="http://www.workday.com"><img src="images/annrai.jpg" align="center" width="150" /></a>
                <a href="http://www.workday.com"><img src="images/jon.jpg" align="center" width="150" /></a>
                <a href="http://www.workday.com"><img src="images/stan.jpg" align="center" width="150" /></a>                
            </div>                       
        </div>                            
    </div>   
