    <div class="row">
        <div class="span8">       
            <br /><br />
        </div>                     
    </div>                  
    <a name="TimeDirections"></a>
    <div class="row">  
        <div class="span5" style="background-color:#ECECEC; padding: 13px; height: 550px;">  
            <div style="padding-left: 35px; padding-right: 35px;">   
            <h4>When</h4>
            <p>Please see below for a detailed breakdown of the event and activities...</p>
            <p><strong>December 1, 2016 through December 2, 2016</strong></p>
            <br />
            <p><strong>Thursday, December 1 2016</strong></p>
            <ul>
            <li>2:00 PM to 3:00 PM - Opening Ceremonies</li>
            <li>3:00 PM - Commence Hacking</li>
            <li>7:00 PM - Dinner is Served</li>
            </ul>
            <br />
            <p><strong>Friday, December 2 2016</strong></p>
            <ul>
            <li>8:00 AM - Breakfast is Served</li>
            <li>12:00 PM - Lunch is Served</li>
            <li>2:00 PM - Ceremonies + Drinks and Snacks</li>
            <li>3:00 PM - Judging</li>
            <li>4:00 PM - It's a wrap!</li>
            </ul>
            <p>Provide any other details that might be helpful, as well as add to calendar widget</p>
            <p align="center"><img src="images/Add-To-Calendar.png" style="" /></p>
            </div>                
        </div>   
        <div class="span5" style="background-color:#ECECEC; padding: 13px; height: 550px;">  
            <div style="padding-left: 35px; padding-right: 35px;"> 
            <h4>Locations</h4>
            <p>Please see below for a list of Workday offices and locations where we are hosting the hackathon.</p>
            <div class="locations">
            <table>
                <tr>
                    <th>Office</th>
                    <th>Location</th>
                </tr>
                <tr>
                    <td>Pleasanton</td>
                    <td>Bla</td>
                </tr>
                <tr>
                    <td>Dublin</td>
                    <td>Bla</td>
                </tr>
            </table>
            </div>
            <!--
            <p>123 There Street<br />San Francisco, CA 94110</p> 
            <p><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=777+Florida+St.,+San+Francisco,+CA,+94110&amp;ie=UTF8&amp;hq=&amp;hnear=777+Florida+St,+San+Francisco,+California+94110&amp;gl=us&amp;ll=37.759579,-122.410761&amp;spn=0.010467,0.022724&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=777+Florida+St.,+San+Francisco,+CA,+94110&amp;ie=UTF8&amp;hq=&amp;hnear=777+Florida+St,+San+Francisco,+California+94110&amp;gl=us&amp;ll=37.759579,-122.410761&amp;spn=0.010467,0.022724&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>
            <br /><br />
            -->
            </div>              
        </div>                            
    </div>  
